.querybar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 27%;
    height: 120px;
    border-radius: 30px;
    background-color: #3e0973;
    align-items: center;
    border: 2px solid white;
}


.leftinput{
    border-radius: 20px;
    background-color: #230343;
    width: 83%;
    height: 90%;
    border: 2px solid #230343;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    padding: 2px 0 2px 30px;
}

.leftinput::placeholder{
    font-size: 20px;
}

.rightbutton{
    margin-right: 8px;
    height: 90%;
    border-radius: 15px;
    background-color: aquamarine;
    width: 12.5%;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightbutton h1{
    font-size: 20px;
    color: white;  
}

