
/* page footer */
.footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    width: 100%;
    /* Ensures footer is positioned at the bottom but won't overlap content */
    margin-top: auto;
}

.footer p{
  font-size: 22px;
}