

.spacefornav{
    height: 50px;
}

.introduceandserachbar{
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduce{
    color: white;
    margin-top: 300px;
}

.introduce h1{
    font-size: 80px;
    font-weight: 900;
}

.home-page .querybar {
    margin-top: 150px; 
    padding: 15px;
}